

*{
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: rgba(223, 223, 223, 1);
  color:  rgba(86, 97, 113, 1) !important;
}

h1, h2, h3 {
  font-weight: 600 !important;
  letter-spacing: 0.5px !important;
}

section{
  padding: 80px 0;
}

a{
  text-decoration: none;
}

nav ul{
  list-style: none;
}


/* <!-- RECENT WORK ................ --> */
.work-heading h1 {
  color: #0C7C7C;
  text-align: center;
  margin-top: 150px;
  font-weight: 900;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
  gap: 50px;
  padding: 80px 20px;
  margin-top: 25px;
}

.project {
  border: 2px solid rgba(149, 196, 196, 1);
  border-radius: 25px;
  transition: all 0.3s;
}

.portfolio .project:hover {
  background-color: rgba(149, 196, 196, 1);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
  0 18px 36px -18px rgba(0, 0, 0, 0.3),
  0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  transform: translateY(-10px) !important;
}

.project img {
  width: 100%;
  height: auto;
  display: block;
  padding: 25px;
  border-radius: 45px;
  filter: grayscale(100%);
}

.project img:hover {
  filter: grayscale(0%);
}

.project-content {
  padding: 15px;
  text-align: end;
  margin-right: 10px;
}
  
.view-project {
  padding: 12px 25px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s ease;
  border: 2px solid transparent;
  background-color: #0C7C7C;
  cursor: pointer;
}

.lb-image .project-2{
  width: 1000px !important;
  height: 1000px !important;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-icons i {
  transition: 0.3s ease;
  color: #0C7C7C;
  padding: 20px 10px;
  border-radius: 5px;
}

footer{
  background-color:rgba(149, 196, 196, 1);
  padding-top: 60px;
  margin-top: 40px;
}

section{
  padding: 0 !important;
}

.footer-nav li a{
  color: #0C7C7C;
}

.footer-nav{
  justify-content: center;
  padding-top: 30px;
  gap: 30px;
}

.footer-nav li a:hover{
  color:rgb(255, 255, 255);
}

.footer-nav li a::after {      
  background-color:rgb(255, 255, 255);
}

.footer-nav li a:hover::after {
  color: rgba(12, 124, 124, 1); 
}



