@media screen and (max-width:1600px) {
  .hero-lap img {
    height: 390px;
    object-fit: cover;
  }

  .tools-lap {
    height: 430px !important;
    border-radius: 15px;
  }

  .me{
  border-radius: 15px;
  }
}

@media screen and (max-width:1299px) {}

@media screen and (max-width:1024px) {
  .hero-lap img {
    height: 100%;
    object-fit: cover;
    margin-top: 15px;
  }

  .tools-lap {
    width: 300px;
    height: 430px;
    border-radius: 15px;
  }

  .typewriter {
    font-size: 28px;
  }

  .social-icons {
    gap: 5px;
  }
}

@media screen and (max-width:992px) {
  #nav-menu{
  display: none;
  }

  .contact{
  display: none;
  }

  #nav-menu.active {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: 50px;
  padding: 30px 50px;
  background-color: white;
  box-shadow: 
  0 30px 60px -12px rgba(50, 50, 93, 0.25),
  0 18px 36px -18px rgba(0, 0, 0, 0.3),
  0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }

  #nav-menu.active ul {
  list-style: none;
  padding: 0;
  flex-direction: column;
  text-align: center;
  }

  #nav-menu.active a {
  color: #0b7c7c;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  }

  .hamburger {
  display: flex;
  z-index: 1000;
  cursor: pointer;
  }

}

@media screen and (max-width: 1200px) and (min-width: 767px) {
  .about .arrow {
    display: none;
  }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
  #services .arrow-2 {
    display: none;
  }
}


@media screen and (max-width:768px) {
  /* education */
  .timeline__event:nth-child(2n+1) .timeline__event__icon:after{
  display: none;
  }
  
  .timeline__event__title {
  text-align: center;
  }
   
  .timeline__event__content p {
  text-align: center;
  }

  .timeline__event--type2 .timeline__event__icon:after{
  display: none;
  }
  
  .timeline__event:nth-child(2n+1) .timeline__event__icon:before {
  display: none;
  }

  .timeline__event__icon::before{
  display: none;
  }
  
  .skills-cols {
  flex-direction: column;
  gap: 30px;
  }

  .timeline__event {
  flex-direction: column !important;
  width: 70vw;
  }

  .timeline__event__content,
  .timeline__event__date {
  width: 100% !important;
  border-radius: 10px !important;
  }

  .timeline__event__icon {
  margin: 0 auto 20px;
  }

  .hero-cnt{
    text-align: center;
  }

  .hero-cnt img{
    display: none;
  }

  .btns{
    justify-content: center;
  }

  .social-icons {
    gap: 15px;
  }

  .profile img{
    display: none;
  }

  .profile{
    text-align: center;
  }

  .logo{
    width: 50px;
  }

  .cnt-list{
    margin-right: 10px;
  }

  .skills-icons{
    width: 100%;
  }

  .tools-lap{
    display: none;
  }
}

@media screen and (max-width:576px) {
   .nav-footer{
    display: none;
  }

  h3{
    font-size: 22px !important;
  }

  .contact-footer{
    padding: 30px;
  }
}

@media screen and (max-width:424px) {

  h3{
    font-size: 20px !important;
  }

  .skills-icons img{
    width: 40px;
    height: 40px;
  }

   .contact-footer{
    padding: 20px;
  }

  #contact h3{
    margin-top: 10px;
  }

  #work h2{
    font-size: 20px;
  }
}

@media screen and (max-width:376px) {
  .social-icons {
    gap: 5px;
  }
}