@media screen and (max-width:1299px) {
   
}

@media screen and (max-width:1024px) {
  .phone-bg{
    width: 650px;
    height: 610px;
  }

  .benefit-card-blue p {
    font-size: 18px;
  }

  .benefit-card-blue {
    padding: 20px;
  }

  .benefit-cards {
    padding: 20px;
  }

  .classroom{
    width: 460px;
  }

  .sec-2-text {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .subheading {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    width: 50%;
  }

  .box-1 p {
    font-size: 14px;
  }

  .sec-2-desc {
    margin-bottom: 15px;
  }

  .cnt-2 img {
    padding-left: 30px;
  }

  .features-card h5 {
    font-weight: 600;
    font-size: 18px;
  }

  .feature-subheading {
    font-weight: 600;
    font-size: 15px;
  }

  .feature-desc {
    width: 100%;
    font-size: 14px;
  }

  .download-content {
   padding-left: 80px;
  }

  .mockup-1{
    width: 460px;
  }

  .features-card{
    padding: 20px;
  }

  .header-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-cnt {
    margin-top: 140px;
    margin-bottom: 80px;
  }

}

@media screen and (max-width:992px) {

  .logo{
    width: 120px;
  }

  .nav-links {
    display: none;
  }

  .nav-links li {
    margin: 0;
  }

  .hamburger {
    display: block;
    color: #0F3A5D;
    z-index: 1000;
  }

  .hamburger i {
    position: absolute;
    right: 10px;
  }

  .navbar{
    align-items: flex-start !important;
    justify-content: flex-start !important;
    position: relative;
  }

  .nav-links.active {
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 50px;
    flex-direction: column;
  }

  .phone-bg {
    width: 630px;
    height: 630px;
  }

  .benefit-card-blue i {
    width: 45px;
    height: 45px;
  }

  .feature-desc {
    font-size: 14px;
    width: 100%;
  }

  .about-content{
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .comtro{
    padding-top: 40;
  }

  .features-cards{
    padding-left: 0;
    padding-right: 0;
  }

  .features-card{
    margin-left: 30px;
    width: 100%;
  }

  .slide-mockup{
    background-image: none;
  }

  .slick-slide img {
    display: block;
    width: 500px;
  }

  .dwld-img{
    width: 600px;
  }

  .how-it-works p {
    width: 60%;
  }

  .download .bg-text-2 {
    top: 10%;
    font-size: 10rem;
  }

  .mockup-1 {
    width: 460px;
    margin-bottom: 30px;
  }

  .dwnld-text h5{
    padding-top: 20px;
  }

  #about .bg-text {
    top: 10%;
    font-size: 12rem;
  }

  .classroom {
    width: 460px;
  }
}

@media screen and (max-width:768px){

  .logo{
    width: 110px;
  }
  
  .hero-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-p {
    padding-bottom: 0;
    width: 80%;
  }

  .tagline {
    padding: 10px 20px;
  }

  .hero-cnt {
    margin-top: 140px;
    margin-bottom: 0;
  }

  .benefit-cards{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .heading-1{
    display: none;
  }

  .heading-2{
    display: flex;
    width: 80%;
  }

  .phone-background{
    display: flex;
    justify-content: center;
  }

  .phone-bg {
    width: 700px;
    height: 630px;
  }

  .benefit-card-blue {
    padding: 32px;
    margin-bottom: 15px;
  }

  .comtro-2{
    margin-bottom: 80px;
    padding-top: 0;
  }

  .comtro {
    padding-bottom: 80px;
  }

  .about p {
    width: 90%;
  }

  .feature-desc {
    width: 60%;
  }

  .features-card {
    margin: 0;
  }

  .features-cards{
    padding: 40px;
  }

  .phone-img{
    display: flex;
    justify-content: flex-end;
  }

  .features p {
    width: 80%;
  }

  .how-it-works p {
    width: 100%;
  }

  .slide-items p {
    max-width: 80%;
  }

  .dwld-img{
    display: none;
  }

  .download-content {
    padding: 0;
    margin-bottom: 40px;
  }

  .download-container {
    justify-content: center;
  }

  .dwnld-text{
    text-align: center;
  }

  .dwnld-text p {
    max-width: 100%;
  }

  .download .bg-text-2 {
    font-size: 8rem;
  }

  .download {
    padding-top: 150px;
  }
}

@media screen and (max-width:576px) {

  .logo{
    width: 100px;
  }

   .slick-slide img {
    width: 450px;
  }

  .how-it-works p {
    width: 80%;
  }

  .phone-img img{
    width: 400px;
  }

  #about .bg-text {
    font-size: 8rem;
  }

  .mockup-1 {
    width: 420px;
  }

  .cnt-2 img {
    width: 400px;
  }

  .phone-bg {
    width: 650px;
    height: 550px;
  }

  .ratings-box {
    padding: 40px 60px;
  }

  .ratings h2 {
    font-size: 20px;
  }

  .ratings p {
    font-size: 14px;
  }
}

@media screen and (max-width:424px) {

  .phone-bg {
    width: 550px;
    height: 450px;
  }

  .ratings-box {
    padding: 40px 40px;
  }

  .ratings h2 {
    font-size: 18px;
  }

  .ratings p {
    font-size: 12px;
  }

  .comtro {
    padding-top: 80px;
  }

  .classroom {
    width: 390px;
  }

  .circle {
    left: 125px;
    top: 230px;
  }

  #about .bg-text {
    font-size: 5rem;
  }

  .mockup-1 {
    width: 375px;
  }

  .about-text h2 {
    font-size: 24px;
  }

  .slick-slide img {
    width: 400px;
  }

  .screen_slider .slick-next {
    background: #ffffff;
  }

  .screen_slider .slick-prev {
    background: #ffffff;
  }

  .speaker-img{
    width: 400px;
  }

  .download .bg-text-2 {
    font-size: 5rem;
  }


}

@media screen and (max-width:375px) {
  .speaker-img {
    width: 300px;
  }

  .phone-img img {
    width: 350px;
  }

  .feature-desc {
    width: 90%;
  }

  .cnt-2 img {
    width: 350px;
  }

  #about .bg-text {
    top: 15%;
  }

  .slick-slide img {
    width: 350px;
  }

  .how-it-works h4 {
    font-size: 18px;
  }

  .how-it-works p {
    width: 90%;
    font-size: 14px;
  }

  .mockup-2 {
    width: 350px;
  }

  .mockup-1 {
    width: 350px;
  }

  .about-text h2 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 15px;
  }

  .classroom {
    width: 350px;
    padding-top: 60px;
  }

  .comtro {
    padding: 10;
    padding-top: 30px;
  }

  .phone-bg {
    width: 480px;
    height: 480px;
  }

  #home .btns {
    border-radius: 8px;
    padding: 10px 15px;
    white-space: nowrap;
  }

  .phone-bg {
    height: 450px;
  }

  .ratings-box {
    padding: 40px 20px;
  }

}

