*{
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff !important;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Comfortaa', cursive;
}

section{
  padding-bottom: 60px;
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  display: none;
  transition: all 0.3s ease;
  z-index: 999;
}

#backToTop:hover {
  background-color: #F8F1EB;
}

/* header */
header {
  padding: 40px 0;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: #7A7A7A;
}

nav ul a:hover {
  color: black;
}

.search-box {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 450px;
  max-width: 90%;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 15px;
  background: transparent;
  color: #333;
}

.search-box button {
  background-color: #000;
  border: none;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #333;
}

.header-icons a {
  color: black;
  font-size: 20px;
}

.bg {
  background-image: url(../img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
}

.tag a{
    color: black;
    text-decoration: none;
}

#contact i{
   font-size: 24px;
}

.map{
    width: 100%;
    height: 400px;
    border-radius: 12px;
}

.contact-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    width: 100%;
    max-width: 900px;
}

.contact-form .row {
    display: flex;
    gap: 20px;
    width: 100%;
}

.contact-form .row input {
    flex: 1;              
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.contact-form textarea {
    margin-top: 15px;
    height: 250px;
    margin-left: -12px;
}

.submit-btn {
    margin-top: 20px;
    margin-left: -12px;
    width: 100%;
    padding: 15px;
    border: none;
    background: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.submit-btn:hover {
    opacity: 0.85;
}

/* footer */
.subscribe-btn {
  color: #7A7A7A;
  background-color: #F8F1EB;
  padding: 10px 20px;
  border: none;
}

.email {
  color: #7A7A7A;
}

footer nav ul a {
  text-decoration: none;
  color: #7A7A7A;
}

footer nav ul {
  list-style: none;
}

.social-links {
  font-size: 20px;
}

.newsletter :before {
  position: absolute;
  left: 4%;
  right: 4%;
  top: 33%;
  height: 2px;
  background: #ece6e0;
  z-index: 1;
}

.newsletter span {
  margin-bottom: 30px;
  width: 200px;
  height: 1px;
  background-color: #7A7A7A;
}

.footer {
  background-color: #F8F1EB;
  padding: 40px;
}

.footer p {
  color: #7A7A7A;
  text-align: center;
}

