* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}

section {
  padding: 60px 0;
}

/* header */
header {
  padding: 40px 0;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: #7A7A7A;
}

nav ul a:hover {
  color: black;
}

.search-box {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 450px;
  max-width: 90%;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 15px;
  background: transparent;
  color: #333;
}

.search-box button {
  background-color: #000;
  border: none;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #333;
}

.header-icons a {
  color: black;
  font-size: 20px;
}



/* categories */
.title span {
  margin-top: 5px;
  width: 150px;
  height: 3px;
  background: #ba3848;
}

.dotted-ellipse {
  --size: 120px;
  width: var(--size);
  height: var(--size);
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dotted-ellipse img {
  transition: transform 0.3s ease;
  transform-origin: center center;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.dotted-ellipse img:hover {
  transform: scale(1.1);
}

.dotted-ellipse::after {
  content: "";
  position: absolute;
  inset: calc(-1 * 14px - 8px);
  border-radius: 50%;
  border: 3px dashed #cfcfcf;
  pointer-events: none;
  box-sizing: border-box;
  transition: transform 1.5s linear;
}

.dotted-ellipse:hover::after {
  transform: rotate(45deg);
  border: 3px dashed #c26464;
}

#categories {
  padding: 0 20px;
}

#categories a {
  text-decoration: none;
}

.categories h5 {
  text-align: center;
  padding-top: 40px;
  color: black;
}

.categories p {
  color: #7A7A7A;
}

/* hero */
.hero {
  padding-bottom: 40px;
}

.hero-img-1 {
  background-image: url(../img/shop-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  padding: 30px;
}

.hero-img-1 h2 {
  max-width: 70%;
}

.hero-img-2 {
  background-image: url(../img/shop-hero-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  padding: 30px;
}

/* products */
.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.product-image {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product-image img {
  transition: transform 0.3s ease;
  transform-origin: center center;
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 350px;
}

.product-image img:hover {
  transform: scale(1.2);
}

.price {
  color: #ba3848;
}

.price-2 {
  text-decoration: line-through;
  color: #7a7a7a;
}

.text-slide {
  position: relative;
  display: inline-block;
  line-height: 1.1rem;
  height: auto;
  overflow: hidden;
  text-decoration: none;
}

.text-slide .text {
  display: block;
  transform: translateY(0);
  transition: transform .35s ease;
  will-change: transform;
  white-space: nowrap;
}

.text-slide .bottom {
  position: absolute;
  left: 0;
  top: 100%;
}

.all-products-btn {
  padding: 15px 30px;
  background-color: black;
  border: none;
}

.all-products-btn a {
  text-decoration: none;
  color: white;
}

.all-products-btn:hover .top,
.all-products-btn:focus-visible .top {
  transform: translateY(-100%);
}

.all-products-btn:hover .bottom,
.all-products-btn:focus-visible .bottom {
  transform: translateY(-100%);
}

.product-tabs {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.product-tabs .tab {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  color: #000000;
  font-weight: 500;
}

.product-tabs .tab.active {
  color: #000;
  border-bottom: 3px solid #ba3848;
}


/* offer */
#offer {
  background-color: #F8F1EB;
  position: relative;
  padding: 50px 70px;
  margin-bottom: 30px;
}

#offer img {
  position: absolute;
  top: -85px;
  right: 0px;
}

#offer h2 {
  font-weight: 600;
  font-family: 'Jost', sans-serif !important;
  font-size: 40px;
  color: #7a7a7a;
}

#offer h5 {
  font-weight: 600;
  font-family: 'Jost', sans-serif !important;
}

.offer-btn {
  background-color: #F8F1EB;
  padding: 10px 20px;
  border-radius: 50px;
}

.offer-btn a {
  text-decoration: none;
  color: black;
}

.offer {
  gap: 180px;
}

/* faq */
.faq-title {
  color: #d36b6b;
}

.faq-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* testimonials */
.reviews p {
  color: #7A7A7A;
}

.reviews span {
  font-weight: 600;
}

.reviews {
  border: solid 1px #7A7A7A;
  padding: 15px;
  height: 480px;
}


/* footer */
.subscribe-btn {
  color: #7A7A7A;
  background-color: #F8F1EB;
  padding: 10px 20px;
  border: none;
}

.email {
  color: #7A7A7A;
}

footer nav ul a {
  text-decoration: none;
  color: #7A7A7A;
}

footer nav ul {
  list-style: none;
}

.social-links {
  font-size: 20px;
}

.newsletter :before {
  position: absolute;
  left: 4%;
  right: 4%;
  top: 33%;
  height: 2px;
  background: #ece6e0;
  z-index: 1;
}

.newsletter span {
  margin-bottom: 30px;
  width: 200px;
  height: 1px;
  background-color: #7A7A7A;
}

.footer {
  background-color: #F8F1EB;
  padding: 40px;
}

.footer p {
  color: #7A7A7A;
  text-align: center;
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: none;
  transition: all 0.3s ease;
  z-index: 999;
}

#backToTop:hover {
  background-color: #F8F1EB;
}

/* When scrolled */
header.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  z-index: 100;
}

/* FULL WIDTH PRODUCT OVERLAY */
#productOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#productOverlay.active {
  display: flex;
}

.overlay-content {
  background: #fff;
  width: 80%;
  max-width: 900px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  position: relative;
  box-sizing: border-box;
  animation: fadeIn 0.3s ease;
}

.overlay-image{
  height: 100% !important;
  object-fit: cover;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

/* Overlay layout */
.overlay-body {
  gap: 40px;
  padding: 20px 30px;
}

.overlay-right h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Comfortaa', cursive;
}

.overlay-right .rating {
  color: #ffb400;
  font-size: 16px;
  margin-bottom: 10px;
}

.overlay-right .rating span {
  color: #555;
  font-size: 14px;
  margin-left: 5px;
}

.price {
  margin: 15px 0;
  font-size: 18px;
}

.desc {
  color: #555;
  line-height: 1.6;
  margin: 15px 0;
}
